{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}my site{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    

   <div id="content">
      {% block content %}
      {% endblock content %} 
   </div>
   <div id="sidebar">
    <h2>my blog</h2>
    <p>
        this is my blog.
        total posts in my blog {% total_posts %}
    </p>
    <p>
        <a href="{% url 'blog:post_feed' %}"> subscribe my site </a>
    </p>
    
    <h3>last posts</h3>
    {% show_last_posts 3 %}
    <h3>most commented posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
        {% for post in most_commented_posts %}
        <li>
            <a href="{{post.get_absolute_url}}"> {{post.title}} </a>
        </li>
        {% endfor %}
    </ul>
   </div>
</body>
</html>